#wrap {
    background: var(--color-grayd);
}
#wrap main {}
#wrap main .path {
    width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: end; 
    padding: 20px 80px;
    gap: 8px;
}
#wrap main .path a {
    font: 0.75rem;
    color: #000;
}
#wrap main .path img {}
#wrap main .path .current {
    font-weight: var(--weight-semibold);
}
#wrap main > h1 {
    background: var(--color-white);
    font-size: var(--text-title40);
    font-weight: var(--weight-bold);
    text-align: center;
    padding: 80px 0 25px;
}
#wrap main > p {
    background: var(--color-white);
    text-align: center;
    font-size: var(--text-menu18);
    line-height: var(--line-contents);
    padding:0 0 80px;

}
#wrap main .bg {
    background: var(--color-grayd);
    padding: 50px;
}
#wrap main .bg > *:nth-child(odd) {
    text-align: center;

}
#wrap main .bg > p {

    text-align: center;
    font-size: var(--text-menu18);
    line-height: var(--line-contents);
}
#wrap main .bg > p:nth-child(2) {
    margin: 25px 0;

}
#wrap main .bg > h2 {
    width: var(--width-desktop-1140);
    border-top: 1px solid var(--color-grayd);
    margin: 0 auto;
    padding: 50px 10px 0 ;
    color: var(--color-point);
    text-align: center;
    font-size: var(--text-title31);
    line-height: var(--line-contents);
}
#wrap main .bg > h2::before { /* 구분선(회색) */
    content: '';
    display: block;
    height: 1px;
    background: #ccc; /* 변수 대신 값으로 테스트 */
    width: var(--width-desktop-1140); /* 고정된 값으로도 테스트 */
    margin: 50px auto;
    
    /* width: var(--width-desktop-1140);
    border-top: 1px solid var(--color-grayd);
    margin: 0 auto; */
}
#wrap main .bg > h3 {
    margin: 0px 0;
    font-weight: var(--weight-medium);
    font-size: var(--text-title31);
    line-height: var(--line-contents);
    
}
#wrap main .bg .goal_list {
    display: flex; /* 가로 정렬의 핵심 */
    flex-flow: row nowrap;
    justify-content: center;
}
#wrap main .bg .goal_list li {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: -20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
#wrap main .bg .goal_list li:nth-child(1) {
    background: var(--color-point);
    color: var(--color-white);
    
}
#wrap main .bg .goal_list li:nth-child(1) img {
    filter: invert(1); /* 색 반전 */
    

}
#wrap main .bg .goal_list li:nth-child(2) {
    background: var(--color-white);

}
#wrap main .bg .goal_list li:nth-child(2) img {

}
#wrap main .bg .goal_list li:nth-child(3) {
    background: var(--color-point_y);
    color: var(--color-white);
}
#wrap main .bg .goal_list li:nth-child(3) img {
    filter: invert(1); /* 색 반전 */
}
#wrap main .bg .goal_list li img {}
#wrap main .bg .goal_list li span {
    font-size:var(--text-contents21);
    line-height: var(--line-contents);
    line-height: var( --letter-min2);
}

#wrap main .bg .strategy_list {
    display: flex; /* 가로 정렬의 핵심 */
    flex-flow: row nowrap;
    justify-content: center;
}
#wrap main .bg .strategy_list li {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: var(--color-grayc);
    margin-left: -10px;
    text-align: center;
    padding: 50px 14px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
#wrap main .bg .strategy_list li h3 {
    font-size: var(--text-menu18);
    text-decoration: underline;
    margin: 0 0 10px;
    font-weight: var(--weight-bold);
}
#wrap main .bg .strategy_list li p {
    line-height: var(--line-contents);
}