/*popup*/
.popup {z-index:999;position:fixed; right:0; top:0; height:100vh; width:50px; text-align:center;}
.popup .page_num {
    position:absolute; width:70%; top:30%;
    display:flex; flex-flow:column wrap;
}
.popup .page_num span {color:#fff; padding:5px 0;}
.popup .page_num .current_num {}
.popup .page_num .all_num {border-top:1px solid #aaa;}
.popup .page_pst {position:absolute; width:100%; bottom:20px; display: flex; flex-flow: column wrap;}
.popup .page_pst a {}
.popup .page_pst a.page_top {}
.popup .page_pst a.page_btm {margin-top:-2px;}
/*header*/
header {
    position:fixed; left:0; top:0; width:100%; height:80px;
    background:rgba(0,0,0,0.2);
}
header .h_container {max-width:1200px; margin:0 auto;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items: center; height: 100%;
    } 
header h1 {}
header h1 a {}
header h1 a img {}
header nav {}
header nav a {color:#fff; font-size:0.875rem; letter-spacing:-0.5px;}
header nav > ul {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header nav > ul > li {padding:0 10px; position:relative;}
header nav > ul > li > a {}

header nav > ul > li > .sub {
    position:absolute; 
    /* display:none */ /* ---------실습---------- */
    opacity: 0; /* 1 = 100% */ /* ---------실습---------- */
    transform: translateY(-80px); /* ---------실습---------- */
    transition: opacity 0.5s, transform 1s; /* ---------실습---------- */
} 
header nav > ul > li:hover .sub { /* ---------실습---------- */
    opacity: 1; /* ---------실습---------- */
    transform: translateY(0); /* ---------실습---------- */
}

header nav > ul > li > .sub li {width:100px; padding: 10px 0 0;}
header nav > ul > li > .sub li a {}
header nav > ul > li > .sub li a:hover {color:#ddd;}
/*section*/
section {}
section .sec1 {background-image:url(../images/main_bg_01.jpg)}
section .sec2 {background-image:url(../images/main_bg_02_3.jpg)}
section .sec3 {
    background-image:url(../images/main_bg_03.jpg);
}
section > div {
    background-size:cover; background-position:center;
    text-align:center; height:100vh; width:100%; 
    display:flex; flex-flow:column wrap; justify-content:center; color:#fff;
    background-attachment: fixed; /* ---------실습(배경이미지 고정)---------- */
}
section > div:nth-child(2) {
    background-repeat:no-repeat;
    background-size:cover, cover;
    background-position:40% center, center;
}
section > div h1 {
    font-family: 'Pattaya', sans-serif;
    font-size:3.0em; line-height:1.5;
}
section > div p {font-size:0.875em; letter-spacing:-0.2px; line-height:1.7;}


/* 2번째 sec -> 애니메이션 공부 */ /* ---------실습---------- */
section .sec2 .container {/* ---------실습---------- */
    background: rgba(0, 0, 255, 0.5);
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
section .sec2 .container h1 {position: relative; z-index: 60; color: #fff;}/* ---------실습---------- */ /* z-index를 주려면 position이 있어야함 + 고정시키려면 relative가 필요하다 + .space의 z-index보다 큰 값(60)을 적어야한다. */
section .sec2 .container h1+p {position: relative; z-index: 60; color: #fff;}/* ---------실습---------- */ /* z-index를 주려면 position이 있어야함 + 고정시키려면 relative가 필요하다 + .space의 z-index보다 큰 값(60)을 적어야한다. */

section .sec2 .container .space {/* ---------실습---------- */
    z-index: 59; /* position z-index 값보다 적어야 글자가 보이니까 60보다 적은 59로 지정 */
    position: absolute;
    top: 50%; /* 왼쪽 상단 기준이라 밑으로 더 많이 내려감 */
    transform: translateY(-50%); /* top: 50%때문에, 위쪽으로 50%가 부족하다(더 밑으로 내려가있음), 그래서 transform: translateY로 위치 조정해준다 */
}
section .sec2 .container .space img {}/* ---------실습---------- */
section .sec2 .container .space1 {left: 0;}/* ---------실습---------- */
section .sec2 .container .space1 img {animation: move100 1s 2s 3 alternate both;}/* ---------실습---------- */ /* 홀수(3)라서 both 지정하여 끝나는 그 자리에 그대로 배치 */
section .sec2 .container .space2 {right: 0;}/* ---------실습---------- */ /* transform 중복으로 인해 -> !!부모에게 위치 지정 */
section .sec2 .container .space2 img {animation: rotate360 10s linear infinite;}/* ---------실습---------- */ /* transform 중복으로 인해 -> !!자식에게 애니메이션 속성 지정 */ /* linear = 일정 속도로 + infinite = 무한 */
section .sec2 .container .space3 {/* ---------실습---------- */
    left: 50%;
    transform: translate(-50%, -50%);
}
section .sec2 .container .space3 img {animation: rotate 8s linear infinite;}/* ---------실습---------- */

/* 애니메이션 준비 1. keyframes */
/* 애니메이션 준비 2. 적용 요소선택자 animation속성으로 키프레임 불러오기 */
/* @keyframe 애니메이션 이름 {from~to 또는 0~100% 최소 2개 이상 장면분기}*/
@keyframes rotate360 { /* ---------실습---------- */
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes move100 { /* ---------실습---------- */
    0% {transform:translateY(0)} /* ---------실습---------- */
    100% {transform:translateY(-100px)} /* ---------실습---------- */
}
@keyframes rotate {/* ---------실습---------- */
    0% {transform: scale(1) translate(0,0); opacity: 0.5; filter: hue-rotate(160deg);}
    40% {transform: scale(1.5) translate(-280px, -50px); opacity: 1; filter: hue-rotate(0);}
    70% {transform: scale(1) translate(0,0); opacity: 0.5; filter: hue-rotate(360deg);}
    100% {transform: scale(0.8) translate(400x, 50px); opacity: 1; filter: hue-rotate(0deg);}
}

/*footer*/
footer {
    position:fixed; left:0; bottom:0; height:100px;
    width:100%; color:#fff; font-size:0.875em; letter-spacing:-0.5px; padding:15px 0;
}
footer p {max-width:1200px; line-height:1.5; margin:0 auto;}